body{
  background-color: rgb(53, 52, 52);
  color: azure;
  padding: 10px;

}

.to-do-list{
  margin-top: 100px;
  text-align: center;
  width: 75vw;
  margin: 10vw;
}

h1{
  font-size: 4rem;
  color: white;
}

button{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
  border: none;
  color: azure;
  cursor: pointer;
  border-radius: 10%;
}

.add-button{
  margin-left: 3px;
  background-color: rgb(38, 161, 73);
}

.add-button:hover{
  background-color: rgb(79, 230, 122);
}

.delete-button{
  background-color: rgb(189, 44, 44);
  font-size: 1.4rem;
  padding: 10px;
  margin-left: 10px;
}

.delete-button:hover{
  background-color: rgb(233, 49, 49);
}

input[type="text"]{
  font-size: 1.6rem;
  width: 50vw;
  padding: 10px;
  color: rgb(39, 36, 36);
  border-radius: 5px;
  border: 2px solid rgb(60, 55, 55);
}

ol{
  padding: 0;
}

li{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(95, 98, 98);
  margin-bottom: 10px;
  border: 2px solid black;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.text{
  flex: 1;
}

